/* ****************************************************** */
/* HEADER */
/* ******************************************************* */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.4rem;
}
/* ****************************************************** */
/* NAVIGATION */
/* ****************************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #b8651b;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #b8651b;
}

/* ****************************************************** */
/* HERO SECTION */
/* ******************************************************* */

.section-hero {
  background-color: #f4e5d8;
  padding: 4.66rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  display: flex;
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: solid 3px #fae5d3;
}

.delivered-imgs img:last-child {
  margin-right: 0rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}
/* ****************************************************** */
/* FEATURED IN SECTION */
/* ******************************************************* */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3rem;
  filter: brightness(0);
  opacity: 50%;
}

/* ****************************************************** */
/* HOW IT WORKS SECTION */
/* ******************************************************* */

.section-how {
  padding: 4.6rem 0;
}

/* .grid {
  display: grid;
  gap: 9.6rem;
} */

/* .section-how div div {
  padding: 100px;
  font-size: 50px;

  color: #b8651b;
} */

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fae5d3;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #f8d8bd;
}

.step-img {
  width: 37%;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* ****************************************************** */
/* MEALS SECTION */
/* ******************************************************* */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(9, 9, 9, 0.15);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.3rem);
  box-shadow: 0 3.2rem 6.4rem rgba(9, 9, 9, 0.1);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  font-weight: 500;

  text-transform: uppercase;
  color: #fff;

  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #25a05a;
}

.tag--paleo {
  background-color: #bfa031;
}

.tag--vegan {
  background-color: #748149;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-img {
  width: 100%;
}

.all-recepies {
  text-align: center;
  font-size: 1.8rem;
}

.meal-icn {
  display: inline-block;
  color: #e67e22;
  width: 2.4rem;
  height: 2.4rem;
}

/* ****************************************************** */
/* TESTIMONIALS SECTION */
/* ******************************************************* */

.section-testimonials {
  background-color: #f4e5d8;
  display: grid;
  grid-template-columns: 55fr 25fr;
  align-items: center;
  justify-content: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #4a4949;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.gallery-item img:hover {
  transform: scale(1.22);
}

/* ****************************************************** */
/* PRICING SECTION */
/* ******************************************************* */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #b8651b;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.pricing-plan--starter {
  justify-content: end;
  padding: 4.7rem;
  border: 1px solid #e67e22;
}

.pricing-plan--complete {
  background-color: #f4eae2;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -10%;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: gold;
  padding: 0.8rem 3.2rem;
  transform: rotate(45deg);
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icn {
  width: 2.4rem;
  height: 2.4rem;
  color: #b8651b;
  margin-bottom: 3.2rem;
  background-color: #f4eae2;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #555;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

/* ****************************************************** */
/* CTA SECTION */
/* ******************************************************* */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #f4eae2;
  box-shadow: 0 2.4rem 4.8rem rgba(9, 9, 9, 0.25);

  border-radius: 11px;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #ff7700d9, #dcc5b2);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: rgb(41, 23, 9);
}

.cta .heading-secondary {
  color: #4b2b05;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, #dc701159, #dcc5b245),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  background-color: #f4e5d8;
  border: #b8651b 1px solid;
  border-radius: 11px;
}

.cta-form input::placeholder {
  color: #aaa;
}

.btn--form {
  align-self: end;
  padding: 1.2rem;
  background-color: #663e10;
  color: #fae5d3;
}

.btn--form:hover {
  background-color: #fae5d3;
  color: #663e10;
  border: solid 2px #663e10;
}

.cta *:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem #9a4b06a7;
}

/* ****************************************************** */
/* FOOTER  SECTION */
/* ******************************************************* */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.footer-logo {
  display: block;
  margin-bottom: 4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
